.message {
    word-break: break-all;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
    margin: 8px;
}

.message-info{
    display: flex;
    gap: 1px;
    
}
.my {
    margin-left: auto;

    
}
.you {
    margin-right: auto;
}

.msg-bowl {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}
.msg {
    background-color: bisque;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.8rem;
}

.file-msg {
    max-width: 200px;
    word-break: break-all;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.6rem;
    
}



.name {
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-size: 0.5em;
}

.date {
    color: rgb(94, 89, 89);
    align-self: flex-end;
    font-size: 0.5em;
}

.avartar {
    align-self: flex-start;
}