.side-bar {
    height: 100%;
    width: 18%;
    background-color: rgba(143,245,245, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

} 
.side-item {
    flex-shrink: 1;
}

.user-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1 1;
    padding: 0;
    margin: 0;
   
}

.user-info{
    display: flex;
   
    align-items: center;
    
}

.logout {
    flex-basis: 1px;
}

.menu {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.menu-item {
    cursor: pointer;
    font-size: 1.5em;
}

.invite-modal {
    outline: 1px solid black;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    max-height: 500px;
    padding-left: 10px;
}

.invite {
    font-size: 0.8rem;
}
.invite-btn {
    padding: 0;
}

.from {
    font-size: 0.4rem;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }